@charset "UTF-8";
@import 'public';



	
	.banner {
		width: 100%;
		font-size: 0;
		margin-top: 83px;
		img {
			width: 100%;
			@include responsive($rs-768) {
				position: relative;
				width: 200%;
				max-width: 200%;
				left: 50%;
				-webkit-transform: translateX(-50%);
				-moz-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				-o-transform: translateX(-50%);
				transform: translateX(-50%);
			}
		}
	}

	.anchor {
		width: 1400px;
		margin: 0 auto;
		border-top: 1px solid #f0d9bb;
		border-bottom: 1px solid #f0d9bb;
		font-size: 0;
		text-align: center;
		margin-top: 85px;
		@include responsive($rs-1440) {
			width: 1200px;
		}		
		@include responsive($rs-1280) {
			width: 1000px;
		}	
		@include responsive($rs-1024) {
			width: 770px;
			margin-top: 40px;
		}
		@include responsive($rs-768) {
			width: 97%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 0 10px;
		}
		@include responsive($rs-414) {
			margin-top: 20px;
		}
		.item {
			font-size: 16px;
			line-height: 30px;
			display: inline-block;
			margin-right: 11px;
			padding: 15px 0;
			width: 150px;
			color: #292929;
			background: #f0d9bb;
			margin-bottom: -1px;
			cursor: pointer;
			-webkit-transition: all 0.4s;
			-o-transition: all 0.4s;
			-moz-transition: all 0.4s;
			transition: all 0.4s;
			@include responsive($rs-1024) {
				font-size: 14px;
				line-height: 24px;
				padding: 10px 0;
				width: 120px;				
			}
			&:last-child {
				margin-right: 0;
			}
			&.active {
				background: #c1e0c4;
				font-weight: bold;
			}
			&:hover {
				background: #c1e0c4;
				font-weight: bold;
			}
		}
	}

	// 公共头部
	.con_tit_s {
		text-align: center;
		.con_tit_con {
			font-size: 36px;
			line-height: 36px;
			padding-bottom: 15px;
			display: inline-block;
			color: #333;	
			position: relative;
			@include responsive($rs-1024) {
				font-size: 32px;
				line-height: 32px;
				padding-bottom: 15px;				
			}
			@include responsive($rs-414) {
				font-size: 22px;
				line-height: 22px;
				padding-bottom: 8px;
			}			
			&:before {
				left: 50%;
				bottom: 0;
				margin-left: -33.5px;
				position: absolute;
				content: '';
				width: 67px;
				height: 2px;
				background: #292929;
				@include responsive($rs-1024) {
					width: 60px;
					margin-left: -30px;
				}
				@include responsive($rs-414) {
					width: 40px;
					margin-left: -20px;
				}				
			}
		}		
	}

	.new_shop {
		width: 1400px;
		margin: 0 auto;
		padding-top: 45px;
		margin-bottom: 50px;
		@include responsive($rs-1440) {
			width: 1200px;
		}		
		@include responsive($rs-1280) {
			width: 1000px;
		}	
		@include responsive($rs-1024) {
			width: 770px;
			margin-bottom: 0;
		}
		@include responsive($rs-768) {
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 0 10px;
			padding-top: 25px;
		}		
		.shop_con {
			font-size: 0;
			margin-top: 45px;
			@include responsive($rs-414) {
				margin-top: 20px;
			}
			.item {
				padding: 16px;
				background: #f1f1f1;
				display: inline-block;
				vertical-align: top;
				margin-right: 3.3%;
				width: 22.5%;
				margin-bottom: 43px;
				-webkit-transition: all 1s;
				-o-transition: all 1s;
				-moz-transition: all 1s;
				transition: all 1s;
				background: url("../assets/img/newsImg/item_bg1.jpg") center no-repeat;
				-o-background-size: cover;
				background-size: cover;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				@include responsive($rs-1440) {
					margin-right: 1.5%;
					width: 23.8%;
					margin-bottom: 18px;					
				}	
				@include responsive($rs-1280) {
					padding: 10px;
				}		
				&:nth-child(4n) {
					margin-right: 0;
				}
				@include responsive($rs-640) {
					margin-right: 1.5%;
					width: 49.2%;
					margin-bottom: 10px;
					padding: 6px;
					&:nth-child(2n) {
						margin-right: 0;
					}					
				}				
				.img {
					width: 100%;
					overflow: hidden;
					img {
						width: 100%;
						-webkit-transition: all 2s;
						-o-transition: all 2s;
						-moz-transition: all 2s;
						transition: all 2s;
					}
				}
				.text {
					text-align: center;
					margin-top: 24px;
					margin-bottom: 8px;
					@include responsive($rs-1024) {
						margin-top: 10px;
						margin-bottom: 0;						
					}
					.one {
						font-size: 16px;
						line-height: 30px;
						color: #333;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						@include responsive($rs-1024) {
							font-size: 14px;
							line-height: 24px;
						}	
						@include responsive($rs-414) {
							font-size: 12px;
							line-height: 20px;							
						}					
					}
					.two {
						font-size: 14px;
						line-height: 22px;
						color: #666;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						@include responsive($rs-1024) {
							font-size: 12px;
							line-height: 20px;
						}												
					}					
				}
				&:hover {
					background: url('../assets/img/newsImg/item_bg.jpg') center no-repeat;
					.img {
						img {
							-webkit-transform: scale(1.1);
							-moz-transform: scale(1.1);
							-ms-transform: scale(1.1);
							-o-transform: scale(1.1);
							transform: scale(1.1);
						}
					}						
				}
			}
		}
		.more {
			text-align: center;
			margin-top: 17px;
			a {
				font-size: 14px;
				padding: 6.5px 44px;
				display: inline-block;
				background: #c1e0c4;
				border-radius: 22px;
				border: 1px solid #c1e0c4;
				-webkit-transition: all 0.5s;
				-o-transition: all 0.5s;
				-moz-transition: all 0.5s;
				transition: all 0.5s;
				@include responsive($rs-1024) {
					font-size: 12px;
					padding: 3px 25px;
					display: inline-block;
					border-radius: 20px;							
				}				
				span {
					color: #333;
					height: 30px;
					line-height: 30px;
					vertical-align: middle;
					display: inline-block;
					margin-right: 10px;
					-webkit-transition: all 0.5s;
					-o-transition: all 0.5s;
					-moz-transition: all 0.5s;
					transition: all 0.5s;
				}
				i {
					color: #333;
					height: 24px;
					line-height: 22px;
					vertical-align: middle;
					display: inline-block;
					-webkit-transition: all 0.5s;
					-o-transition: all 0.5s;
					-moz-transition: all 0.5s;
					transition: all 0.5s;
				}
				&:hover {
					background: #f0d9bb;
					border: 1px solid #f0d9bb;
				}						
			}
		}		
	}


	.new_join {
		width: 1400px;
		margin: 0 auto;
		padding-top: 50px;	
		margin-bottom: 100px;
		@include responsive($rs-1440) {
			width: 1200px;
		}		
		@include responsive($rs-1280) {
			width: 1000px;
		}	
		@include responsive($rs-1024) {
			width: 770px;
			padding-top: 30px;	
			margin-bottom: 50px;			
		}
		@include responsive($rs-768) {
			width: 100%;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			padding: 0 10px;
			padding-top: 30px;	
		}		
		@include responsive($rs-414) {
			margin-bottom: 20px;
		}	
		.new_join_con {
			margin-top: 45px;
			@include responsive($rs-1024) {
				margin-top: 30px;
			}
			@include responsive($rs-414) {
				margin-top: 20px;
			}
			.left {
				width: 22.5%;
				@include responsive($rs-640) {
					display: none;
				}
				img {
					width: 100%;
				}
			}
			.right {
				width: 74.1%;
				@include responsive($rs-640) {
					width: 100%;
					float: none;
				}
				.item {
					width: 100%;
					display: inline-block;
					vertical-align: top;
					border-bottom: 1px dashed #cccccc;
					padding-bottom: 6px;
					margin-bottom: 22.5px;
					@include responsive($rs-1440) {
						margin-bottom: 14.1px;
					}		
					@include responsive($rs-1280) {
						padding-bottom: 3px;
						margin-bottom: 12px;
					}		
					&:last-child {
						margin-bottom: 0;
					}
					.one {
						display: inline-block;
						font-size: 14px;
						line-height: 30px;
						color: #666;
						width: 10.1%;
						padding-right: 5px;
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
						overflow: hidden;
						-o-text-overflow: ellipsis;
						text-overflow: ellipsis;
						white-space: nowrap;
						-webkit-transition: all 0.5s;
						-o-transition: all 0.5s;
						-moz-transition: all 0.5s;
						transition: all 0.5s;
						@include responsive($rs-1440) {
							width: 11%;
						}
						@include responsive($rs-1280) {
							font-size: 12px;
							line-height: 26px;
							width: 17%;
						}
						@include responsive($rs-414) {
							width: 30%;
						}
					}
					.two {
						width: 77%;
						display: inline-block;
						font-size: 16px;
						line-height: 30px;
						color: #333;
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
						overflow: hidden;
						-o-text-overflow: ellipsis;
						text-overflow: ellipsis;
						white-space: nowrap;
						-webkit-transition: all 0.5s;
						-o-transition: all 0.5s;
						-moz-transition: all 0.5s;
						transition: all 0.5s;	
						@include responsive($rs-1280) {
							width: 70%;
							display: inline-block;
							font-size: 14px;
							line-height: 26px;							
						}			
						@include responsive($rs-414) {
							font-size: 12px;
							width: 44%;
						}							
					}
					.three {
						display: inline-block;
						width: 84px;
						font-size: 0;
						text-align: center;
						color: #333;
						background: #f1f1f1;
						-webkit-border-radius: 15px;
						border-radius: 15px;
						-webkit-transition: all 0.5s;
						-o-transition: all 0.5s;
						-moz-transition: all 0.5s;
						transition: all 0.5s;
						@include responsive($rs-1280) {
							width: 70px;
							border-radius: 13px;
						}
						span {
							font-size: 14px;
							margin-right: 8px;
							display: inline-block;
							height: 30px;
							line-height: 30px;
							@include responsive($rs-1280) {
								font-size: 12px;
								margin-right: 5px;
								height: 26px;
								line-height: 26px;						
							}							
						}
						i {
							font-size: 14px;
							display: inline-block;
							vertical-align: 1px;
							@include responsive($rs-1280) {
								font-size: 12px;
							}
						}						
					}
					&:hover {
						.one {
							color: #c1e0c4;
						}
						.two {
							color: #c1e0c4;
						}
						.three {
							background: #c1e0c4;
						}												
					}
				}
			}			
		}
		.more {
			text-align: center;
			margin-top: 60px;
			@include responsive($rs-1024) {
				margin-top: 30px;
			}
			@include responsive($rs-414) {
				margin-top: 20px;
			}			
			a {
				font-size: 14px;
				padding: 6.5px 44px;
				display: inline-block;
				background: #c1e0c4;
				border-radius: 22px;
				border: 1px solid #c1e0c4;
				-webkit-transition: all 0.5s;
				-o-transition: all 0.5s;
				-moz-transition: all 0.5s;
				transition: all 0.5s;
				@include responsive($rs-1024) {
					font-size: 12px;
					padding: 3px 25px;
					display: inline-block;
					border-radius: 20px;							
				}				
				span {
					color: #333;
					height: 30px;
					line-height: 30px;
					vertical-align: middle;
					display: inline-block;
					margin-right: 10px;
					-webkit-transition: all 0.5s;
					-o-transition: all 0.5s;
					-moz-transition: all 0.5s;
					transition: all 0.5s;
				}
				i {
					color: #333;
					height: 24px;
					line-height: 22px;
					vertical-align: middle;
					display: inline-block;
					-webkit-transition: all 0.5s;
					-o-transition: all 0.5s;
					-moz-transition: all 0.5s;
					transition: all 0.5s;
				}
				&:hover {
					background: #f0d9bb;
					border: 1px solid #f0d9bb;
				}						
			}
		}			
	}





















