@charset "UTF-8";
@import 'public';



header {
	display: none !important;
}
.header2 {
	display: block !important;
}

 


	
.banner {
	width: 100%;
	font-size: 0;
	margin-top: 83px;
	img {
		width: 100%;
		@include responsive($rs-768) {
			position: relative;
			width: 200%;
			max-width: 200%;
			left: 50%;
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			-ms-transform: translateX(-50%);
			-o-transform: translateX(-50%);
			transform: translateX(-50%);
		}
	}
}

.search_con {
	width: 1400px;
	margin: 0 auto;
	font-size: 0;
	@include responsive($rs-1440) {
		width: 1200px;
	}		
	@include responsive($rs-1280) {
		width: 1000px;
	}	
	@include responsive($rs-1024) {
		width: 770px;
	}
	@include responsive($rs-768) {
		width: 100%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 10px;
	}	
	.search_box {
		margin-top: 85px;
		margin-bottom: 46px;
		position: relative;
		@include responsive($rs-1440) {
			margin-top: 40px;
			margin-bottom: 30px;				
		}
		@include responsive($rs-414) {
			margin-top: 20px;
			margin-bottom: 20px;				
		}			
		.box_con {
			@include responsive($rs-414) {
				float: none;				
			}
			input {
				width: 469px;
				height: 64px;
				border: 1px solid #666;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				font-size: 14px;
				padding-left: 15px;
				display: inline-block;
				-webkit-transition: all 0.4s;
				-o-transition: all 0.4s;
				-moz-transition: all 0.4s;
				transition: all 0.4s;
		        &::-webkit-input-placeholder{
					color: #ccc;
					-webkit-transition: all 0.4s;
					-o-transition: all 0.4s;
					-moz-transition: all 0.4s;
					transition: all 0.4s;
		        }
		        &::-moz-placeholder{   /* Mozilla Firefox 19+ */
		            color: #ccc;
					-webkit-transition: all 0.4s;
					-o-transition: all 0.4s;
					-moz-transition: all 0.4s;
					transition: all 0.4s;
		        }
		        &:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
		            color: #ccc;
					-webkit-transition: all 0.4s;
					-o-transition: all 0.4s;
					-moz-transition: all 0.4s;
					transition: all 0.4s;
		        }
		        &:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
		            color: #ccc;
					-webkit-transition: all 0.4s;
					-o-transition: all 0.4s;
					-moz-transition: all 0.4s;
					transition: all 0.4s;
		        }	
		        @include responsive($rs-1024) {
					width: 300px;
					height: 50px;
					font-size: 12px;
					padding-left: 10px;
		        }	
		        @include responsive($rs-414) {
					width: 100%;
					height: 45px;
					font-size: 12px;
					padding-left: 10px;
		        }		
			}
			.icons {
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				width: 60px;
				z-index: 2;
				cursor: pointer;
				@include responsive($rs-1024) {
					width: 50px;
				}
				.icon {
					display: inline-block;
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translate(-50%, -50%);
					-moz-transform: translate(-50%, -50%);
					-ms-transform: translate(-50%, -50%);
					-o-transform: translate(-50%, -50%);
					transform: translate(-50%, -50%);
					font-size: 20px;
					color: #666666;
					-webkit-transition: all 0.4s;
					-o-transition: all 0.4s;
					-moz-transition: all 0.4s;
					transition: all 0.4s;
					@include responsive($rs-1024) {
						font-size: 16px;
					}
				}
			}
			&:hover {
				input {
					border-color: #4d7435;
			        &::-webkit-input-placeholder{
			            color: #4d7435;
			        }
			        &::-moz-placeholder{   /* Mozilla Firefox 19+ */
			            color: #4d7435;
			        }
			        &:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
			            color: #4d7435;
			        }
			        &:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
			            color: #4d7435;
			        }						
				}
				.icons {
					.icon {
						color: #4d7435;
					}
				}
			}								
		}
	}
	.item_con {
		.search_item {
			width: 50%;
			background: #fff1df;
			padding: 47px 1.4% 47px 49px;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			margin-bottom: 40px;
			font-size: 0;
			display: inline-block;
			vertical-align: top;
			@include responsive($rs-1440) {
				padding: 30px 1% 30px 30px;
				margin-bottom: 30px;
			}
			@include responsive($rs-1024) {
				padding: 10px 0.6% 10px 10px;
				margin-bottom: 15px;
			}		
			@include responsive($rs-414) {
				padding: 6px 6px 6px 6px;
				margin-bottom: 10px;
				width: 100%;
			}		
			&:nth-child(2n) {
				padding: 47px 49px 47px 1.4%;
				@include responsive($rs-1440) {
					padding: 30px 30px 30px 1%;
				}
				@include responsive($rs-1024) {
					padding: 10px 10px 10px 0.6%;
				}
				@include responsive($rs-414) {
					padding: 6px 6px 6px 6px;
				}															
			}				
			&.search_item0 {
				background: #fff1df;
			}				
			&.search_item1 {
				background: #dfefe0;
			}
			&.search_item2 {
				background: #daecf0;
			}
			.item {
				width: 100%;
				display: inline-block;
				vertical-align: top;
				.img {
					width: 100%;
					overflow: hidden;
					img {
						width: 100%;
						-webkit-transition: all 2s;
						-o-transition: all 2s;
						-moz-transition: all 2s;
						transition: all 2s;
					}
				}
				.texts {
					position: relative;
					background: #fff;
					width: 100%;
					height: 134px;
					padding-top: 54px;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					@include responsive($rs-1440) {
						height: 150px;
					}
					@include responsive($rs-1024) {
						padding-top: 49px;
						height: 125px;
					}
					@include responsive($rs-768) {
						margin-top: -5px;
					}
					@include responsive($rs-640) {
						margin-top: 0;
					}						
					.round {
						width: 103px;
						height: 103px;
						background: #fff;
						border-radius: 50%;
						font-size: 16px;
						line-height: 24px;
						position: absolute;
						top: -51.5px;
						left: 50%;
						-webkit-transform: translateX(-50%);
						-moz-transform: translateX(-50%);
						-ms-transform: translateX(-50%);
						-o-transform: translateX(-50%);
						transform: translateX(-50%);
						text-align: center;
						@include responsive($rs-1024) {
							width: 93px;
							height: 93px;
							font-size: 12px;
							line-height: 16px;
							top: -46.5px;								
						}
						.round_con {
							width: 80%;
							position: absolute;
							top: 50%;
							left: 50%;
							-webkit-transform: translate(-50%, -50%);
							-moz-transform: translate(-50%, -50%);
							-ms-transform: translate(-50%, -50%);
							-o-transform: translate(-50%, -50%);
							transform: translate(-50%, -50%);	
						}
						&:before {
							position: absolute;
							top: 50%;
							left: 50%;
							-webkit-transform: translate(-50%, -50%);
							-moz-transform: translate(-50%, -50%);
							-ms-transform: translate(-50%, -50%);
							-o-transform: translate(-50%, -50%);
							transform: translate(-50%, -50%);
							content: '';
							width: 113px;
							height: 113px;
							border-radius: 50%;
							-webkit-box-sizing: border-box;
							-moz-box-sizing: border-box;
							box-sizing: border-box;
							border: 1px dashed #fff;
							@include responsive($rs-1024) {
								width: 100px;
								height: 100px;									
							}
						}
					}
					.small_introduct {
						text-align: center;
						font-size: 16px;
						line-height: 24px;
						width: 100%;
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
						padding: 0 10px;
						@include responsive($rs-1024) {
							font-size: 12px;
							line-height: 18px;								
						}
						@include responsive($rs-414) {
							padding: 0 5px;
						}
					}
				}	
				&:hover {
					.img {
						img {
							-webkit-transform: scale(1.05);
							-moz-transform: scale(1.05);
							-ms-transform: scale(1.05);
							-o-transform: scale(1.05);
							transform: scale(1.05);
						}
					}
				}			
			}
		}			
	}

	.more {
		text-align: center;
		margin-top: 60px;
		margin-bottom: 100px;
		@include responsive($rs-1440) {
			margin-top: 20px;
			margin-bottom: 50px;
		}
		@include responsive($rs-414) {
			margin-top: 10px;
			margin-bottom: 20px;
		}			
		a {
			font-size: 14px;
			padding: 6.5px 44px;
			display: inline-block;
			background: #c1e0c4;
			border-radius: 22px;
			border: 1px solid #c1e0c4;
			-webkit-transition: all 0.5s;
			-o-transition: all 0.5s;
			-moz-transition: all 0.5s;
			transition: all 0.5s;
			@include responsive($rs-1024) {
				font-size: 12px;
				padding: 3px 25px;
				display: inline-block;
				border-radius: 20px;							
			}				
			span {
				color: #333;
				height: 30px;
				line-height: 30px;
				vertical-align: middle;
				display: inline-block;
				margin-right: 10px;
				-webkit-transition: all 0.5s;
				-o-transition: all 0.5s;
				-moz-transition: all 0.5s;
				transition: all 0.5s;
			}
			i {
				color: #333;
				height: 24px;
				line-height: 22px;
				vertical-align: middle;
				display: inline-block;
				-webkit-transition: all 0.5s;
				-o-transition: all 0.5s;
				-moz-transition: all 0.5s;
				transition: all 0.5s;
			}
			&:hover {
				background: #f0d9bb;
				border: 1px solid #f0d9bb;
			}						
		}
	}		
}

















